<mat-toolbar color="primary" id="navbar" style="min-height: 80px !important;">
    <div fxHide.gt-xs>
      <button mat-icon-button (click) = "onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
    <div fxFlex fxLayout fxLayoutAlign="start start">
        <div>
            <a routerLink="/home" style="font-size: 44px; text-decoration: none; color: rgba(240, 233, 233, 0.87);">
              <mat-icon>compare_arrows</mat-icon>Swapper
            </a>
        </div>
        <div>
        </div>
    </div>
</mat-toolbar>