<div fxLayout="row wrap" fxLayoutAlign="space-around start">
  <div class="background">
  </div>

  <div class="card">
      <h3 style="padding-top:4%">Create an account</h3>
      <div class="container">
          <app-sign-up></app-sign-up>
      </div>
    </div>
  
    <div class="card">
        <h4 style="padding-top:4%">Login</h4>
        <p style="color: #a5a8ac !important;">Sign In to your account</p>
        <div class="container">
            <app-sign-in></app-sign-in>
        </div>
      </div>
</div>
