<h2 style="padding-top:4%">Create an account</h2>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)" class="signup-form" autocomplete="off">
    <div fxLayout="column" fxLayoutGap="32px">
      <mat-form-field class="full-width">
        <input matInput type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
        required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
        <div *ngIf="signUpForm.submitted && !fullName.valid">
          <label class="validation-message">This field is required.</label>
        </div>
      </mat-form-field>
      <mat-form-field class="full-width">
          <input matInput type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
          required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
          <div *ngIf="signUpForm.submitted && email.errors">
            <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
            <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
          </div>
      </mat-form-field>
        
      <mat-form-field class="full-width">
          <input matInput type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
          minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
          <div *ngIf="signUpForm.submitted && password.errors">
            <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
            <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
          </div>
      </mat-form-field>
        
      <button type="submit" mat-raised-button color="primary">
          Sign Up
      </button>
    </div>
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>
